* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #d9d9d9;
}

.git-logo {
  filter: invert(100%)
}

*::before,
*::after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
  border: 0;
  background: none;
  outline: none;
}


